Repository hmcts/fprl-ccd-definitions, pull requests merged in 2021-08, with the labels that each got.

#6 FPRL-243: added case roles
  .gitignore
  definitions/family-private/json/CaseRoles.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-6

#10 FPRL-85: Adding special mesures
  definitions/family-private/json/AuthorisationCaseEvent.json
  definitions/family-private/json/AuthorisationCaseField.json
  definitions/family-private/json/CaseEvent.json
  definitions/family-private/json/CaseEventToComplexTypes.json
  definitions/family-private/json/CaseEventToFields.json
  definitions/family-private/json/CaseField.json
  definitions/family-private/json/ComplexTypes.json
  definitions/family-private/json/FixedLists.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-10

#7 Fprl-84: Legal professional can upload evidence
  definitions/family-private/json/AuthorisationCaseEvent.json
  definitions/family-private/json/AuthorisationCaseField.json
  definitions/family-private/json/CaseEvent.json
  definitions/family-private/json/CaseEventToFields.json
  definitions/family-private/json/CaseField.json
  definitions/family-private/json/CaseTypeTab.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-7

#11 FPRL-85: Adjustments to FPRL 85
  definitions/family-private/json/AuthorisationCaseEvent.json
  definitions/family-private/json/AuthorisationCaseField.json
  definitions/family-private/json/CaseEvent.json
  definitions/family-private/json/CaseEventToComplexTypes.json
  definitions/family-private/json/CaseEventToFields.json
  definitions/family-private/json/CaseField.json
  definitions/family-private/json/ComplexTypes.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-11

#5 FPRL-83: application type
  definitions/family-private/json/CaseEventToComplexTypes.json
  definitions/family-private/json/CaseEventToFields.json
  definitions/family-private/json/CaseField.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-5

#12 FPRL-80: MIAM flow like in FinRem
  definitions/family-private/json/AuthorisationCaseField.json
  definitions/family-private/json/CaseEventToFields.json
  definitions/family-private/json/CaseField.json
  definitions/family-private/json/FixedLists.json
Labels: ns:family-private-law, prd:fprl, rel:fprl-ccd-definitions-pr-12
